h1{
    font-size: 90px;
    color: orangered;
    padding: 10px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}


/* stilizzazione quadrati colorati */

[class*="col-"]{
    height: 100px;
    width: 100px;

}


.red{
    background-color: red;
}

.black{
    background-color: black;
}

.blue{
    background-color: #74a4d9;
}

.lightblue{
    background-color: lightblue;
}

.justify-end{
    position: relative;
    left: 49px;
}

.foot{
    /* position: relative;
    right: 49px; */
}
